# Token lấy từ @BotFather
BOT_TOKEN=8655291561:AAHksFJvgl0hkEnVRhD2JVDu6bJ54wmaZPY

# Telegram ID của Admin để dùng các lệnh nạp kho (/addstock) và cộng tiền (/addmoney)
ADMIN_ID=1710308922

# Thông tin Ngân Hàng tạo mã VietQR
BANK_ID=MB
ACCOUNT_NO=0000000000
ACCOUNT_NAME=NGUYEN VAN A
